# Evil apple files
/.DS_Store

# Latex file extensions
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.out
*.pdf
*.synctex.gz
*.toc
*.aux
*.lol

# VSCode files
.vscode/*

# drawio helper files
drawio/*.xml.bkp
